body {
	margin: 0;
	overflow: hidden;
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
    width: 100%;
    font-size: 8em;
	text-align: center;
	pointer-events: none;
}